<main class="main">
  <div class="container">
    <div class="create-container">
      <h4>Create</h4>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="Enter Name" name="name" [(ngModel)]="model.name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter Position" name="position" [(ngModel)]="model.position">
        </mat-form-field>
        <button color="primary" mat-raised-button (click)="addEmployee()">Save</button>
      </mat-card>
    </div>

    <div class="view-container">
      <h4>View and Delete</h4>
      <!-- <mat-card> -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="Position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button class="edit">Edit</button>
            <button mat-raised-button class="delete">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- </mat-card> -->
    </div>

    <div class="create-container">
      <h4>Update</h4>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="Enter Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter Position">
        </mat-form-field>
        <button color="primary" mat-raised-button>Update</button>
      </mat-card>
    </div>
  </div>
</main>
