.main {
  padding: 2em 5em 5em 5em;
}

.main .container {
  width: 100%;
}

.main form {
  display: flex;
  flex-direction: column;
}

.create-container .mat-card {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.create-container button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-table {
  width: 55%;
}

.view-container button {
  margin-right: 15px;
  float: right;
}

.edit {
  background: green;
  color: white;
}

.delete {
  background: red;
  color: white;
}
